<!DOCTYPE html>
<html>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="/user">User</a></li>
        <li><a href="/member">member</a></li>
        <li><a href="/customer">Customer</a></li>
    </ul>

  </br></br>
    {{{body}}}
    </br></br>
  

</body>

</html>