<h1>Customer Register here </h1>
<div class="col-md-6">
    <div class="form contact-form">
        <form action="/customer/addcustomer" method="post">
            <div>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div>
                <input type="text" name="email" class="form-control" id="email" placeholder="email" required>
            </div>
            <div>
                <input type="text" name="gender" class="form-control" id="gender" placeholder="gender" required>
            </div>
            <div>

                <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Email" required>
            </div>

            <div class="text-center"><button type="submit">Registered now</button></div>
        </form>
    </div>
</div>