
<h1> ADD A Member </h1>
<div class="col-md-6">
    <div class="form contact-form">
        <form action="/member/addmember" method="post">
            <div>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div>

                <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Email" required>
            </div>

            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
    </div>
</div>
